:root {
  --Primary-color: #6c63ff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  padding: 10px;
  background-color: var(--Primary-color);
  border: 1px solid var(--Primary-color);
  border-radius: 15px;
  color: white;
  transition: 300ms ease-in;
}

.btn:hover {
  background-color: transparent;
  color: var(--Primary-color);
}

.btn-outline {
  padding: 10px;
  border: 1px solid var(--Primary-color);
  color: var(--Primary-color);
  border-radius: 15px;
  transition: 300ms ease-in;
}

.btn-outline:hover {
  color: white;
  background-color: var(--Primary-color);
}
